.carousel-container {
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    height: 50%;
}

.carousel-container .carousal-slide {
    display: none;
}

.carousel-container .carousal-slide.image-active {
    display: block;
    width: 100%;
    height: 35rem;
}

.carousel-container div img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
}

.carousal-slide-card {
    width: 50%;
    background-color: #72003b50;
    color: rgb(205, 205, 205);
    backdrop-filter: blur(12px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    animation-name: fade;
    animation-duration: 3s;
}

.carousal-slide-card h2 {
    color: white;
    font-size: 3vw;
    font-weight: bold;
}

.carousal-slide-card b {
    display: inline-block;
    margin-bottom: 50px;
    font-size: 1vw;
    background-color: white;
    color: #72003b;
    padding: 10px 20px;
}

.carousel-dot-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: #72003b;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;

}

.active,
.dot:hover {
    opacity: 1;
}

/* .fade{
    animation-name: fade;
    animation-duration: 6s;
} */
/* @keyframes fade {
    from {
        left: 60%;
    }

    to {
        left: 50%;
    }
} */

.category-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.category-card img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.category-card img:hover {
    width: 130px;
    height: 130px;
    padding: 10px;
}

.category-card p {
    text-align: center;
    font-weight: bold;
    color: #72003b;
    text-decoration: none;
}

.best-selling {
    width: 100%;
}

.best-selling .col-1 {
    display: inline-block;
    width: 56%;
    margin: 2% 0.5% 1% 6%;
    background-image: url(/assets/images//bestSellingBack.webp);
    background-color: #cccccc;
    height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;  
}
.best-selling .col-2 {
    display: inline-block;
    width: 30%;
    margin: 2% 6% 1% 0.5%;
    background-image: url(/assets/images//bestSellingBack2.webp);
    background-color: #cccccc;
    height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
}
.discount-card {
    width: 100%;
}

.discount-card .col-1 {
    display: inline-block;
    width: 30%;
    margin: 0% 0.5% 2% 6%;
    background-image: url(/assets/images//HomeBackPic3.webp);
    background-color: #cccccc;
    height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.discount-card .col-2 {
    display: inline-block;
    width: 56%;
    margin: 0% 6% 2% 0.5%;
    background-image: url(/assets/images//HomeBackPic2.webp);
    background-color: #cccccc;
    height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
}
.overlay{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;

}
.best-selling .col-1:hover .overlay{
     display: block;
}
.best-selling .col-2:hover .overlay{
    display: block;
}
.discount-card .col-1:hover .overlay{
    display: block;
}
.discount-card .col-2:hover .overlay{
    display: block;
}
.col-card{
    display: inline-block;
    background-color: #ffffff99;
    color: #72003b;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    padding: 10px 50px;
    border-radius: 20px;
    box-sizing: border-box;
    width:300px;
}
.col-card h3{
    margin-bottom: 10px;
    font-size: 1.5vw;
    font-family: 'Times New Roman', Times, serif;
}
.col-card h1{
    margin: 0 10px;
    font-family: 'Times New Roman', Times, serif;
}
.col-card b{
    margin: 15px ;
    display: block;
    font-family: 'Times New Roman', Times, serif;
}
